.image img {
  width: 260px;
  border-radius: 10px;
}
.image {
  height: 260px;
}
.card {
  border: 1px solid gray;
  border-radius: 8px;
  background-color: rgb(191, 244, 244);
  text-align: start;
}
.card h4 {
  margin-bottom: 20px;
}

.product button {
  font-size: 15px;
  font-family: "Josefin Sans", sans-serif;
  width: 100%;
  background: #ffe0b3;
  border: 0px;
  border-radius: 0px 0px 8px 8px;
}
button:hover {
  background-color: #b8a383;
}
.info {
  padding: 10px;
}
