.navber {
  background-color: #1c2b35;
  padding-left: 100px;
  padding-right: 100px;
  height: 60px;
  left: 0px;
  top: 0px;
  border-radius: 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
div a {
  text-decoration: none;
  margin-right: 40px;
  color: #ffffff;
  font-size: 17px;
}
div a:hover {
  color: rgb(49, 213, 238);
}
